* {
	margin: 0px;
	padding: 0px;
}

body {
   font-family: Tahoma, Arial, sans-serif;
   color: #000;
   background-color: #fff;
   text-align: center;
 }
 
h1 {
	font-size: 3rem;
	text-align: center;	
}

.formdiv {
   border: 5px solid green;
   border-radius: 10px;
	width: 80%;
	margin: 0px auto;
}

#trouble{
	font-size: 0.5rem;
}

.messageerror{
   color: red;
 }

.messagesuccess{
   color: green;
 }

/*Dashboard page*/

header {
	height: 10%;
	width: 100%;
	display: flex;
}

#headlinks{
	width: 20%;
	text-align: center;
	height: 100%;
}

.headlink{
	font-size: 0.8rem;
}

#title{
	width: 50%;
	text-align: center;
	height: 100%;
}

h2 {
	font-size: 2rem;
	text-align: center;
	margin-left: 20%;
}

#buttonsdiv{
	width: 30%;
	height: 100%;
}

.actionform{
	display: inline;
	margin-right: 5%;
	margin-top: 5%;
}

.actionbutton {
	border: 1px dotted green;
	margin-right: 1%;
	margin-top: 10%;
}
 
 /* The main game board */
 
main {
	width: 100%;
	height: 80%;
}

.animal {
	border: 5px solid green;
	border-radius: 10px;
	text-align: center;
	height: 98%;
	width: 17%;
	margin: 1% 1%;
	display: inline-block;
}

.animalimg{
	width: 100%;
}

.killbutton {
	 border: none;
}
 
.usebutton {
	border: none;
	display: inline;
}

/* The Message and basket section */

#panel{
	height: 10%;
	width: 100%;
	overflow: hidden;
	display: flex;
}

#basket {
	max-height: inherit;
	width: 50%;
	background-color: brown;
	overflow: auto;
}

#basketcontents {
	border: none;
	width: 100%;
}

td {
	border-top: 1px solid #000;
}

.itemimg{
	height: 100%;
	border-radius: 10px;
}

#messagecenter{
	max-height: 100%;
	width: 50%;
	overflow-y: auto;
	overflow-x: hidden;
}

.messages {
	margin-left: 5px;
}


/* OTHER PAGES */

.secretimg {
	height: 20%;
	width: 50%;
	margin: 0px auto;
}

/* HUNT PAGE */

#battlefield {
	height: 80%;
	width: 100%;
}

.battleanimal {
	border: 5px solid green;
	border-radius: 10px;
	text-align: center;
	height: 98%;
	width: 20%;
	margin: 1% 1%;
	display: inline;
}

#battlebuttons{
	text-align: center;
	height: 98%;
	width: 20%;
	margin: 1% 1%;
	display: inline;
}

#battlelog{
	width: 100%;
	height: 20%;
}