<!DOCTYPE html>
<html>
<head>
	<title>EpizoPets Help</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<p>
		Welcome to EpizoPets, the fun survival game with cute (they're cute right? Look at those awkward bugeyes and say no.) pets!
		Your objective is to survive in the woods alone with your animals companions. You can hunt, forage, and look for new pets. If you get really hungry, you can eat your little buddies.
	</p>
	
	<span id="anchors"><a href="#itemsp">Items/Foraging</a> &nbsp; | &nbsp; <span id="anchors"><a href="#itemsp">Pets</a>&nbsp; | &nbsp; <span id="anchors"><a href="#itemsp">Dying</a>&nbsp; | &nbsp;</span>
	<br><br>
	
	<p id="itemsp">
	<b><u>USING ITEMS & FORAGING</u></b><br><br>
	
	You can use items you find while foraging in the woods. Be careful - sometimes you may encounter danger while doing so. There is also rumored to be some
	awesome secret pets hiding in these woods, which you could adopt if you have room for another pet. If you're after one, be sure to save a space.<br><br>
	
	<ul>
		<li>Flowers make all of your pets feel happier. They all gain some HP.</li>
		<li>Mushrooms are mysterious...they could have a bad effect, a good one, or do nothing at all!</li>
		<li>Water is the stuff of life. You can share it with all your pets to gain some HP & health.</li>
		<li>Acorns are a tasty snack for pets. Whichever one eats this gains a significant amount of HP.</li>
		<li>Apples are human food! Eat this to gain a significant amount of health.</li>
		<li>Sticks...why would you want them? You can't eat it, but you can maybe hit something with it.</li>
		<li>Berries are delicious snacks and medicines for pets only. They gain a small amount of HP and increase their max HP.</li>
		<li>Honey is a remedy for humans! Increases endurance...eat it to increase max health!</li>
		<li>Bugs are actually quite nutritious! Either you or your pets gain some HP from eating one.</li>
	</ul>
	</p>
	<br><br>
	<p id="pets">
	<b><u>PETS</u></b><br><br>
		There are several types of wonderful animals in the forest which you can tame and keep as pets. Click New Pet to grab one.
		Pets will have different health levels, you won't know until you get one and check. If you don't like it, you can always eat it to get some use out of it.
		<br>
		You can also find secret pets by foraging if you have an extra space for a pet (You can only have 4 at the most.). If you see one, you will have a chance to catch it, but beware! These pets might attack you or run away.
	</p>
	<br><br>
	<p id="dying">
	<b><u>DYING</u></b><br><br>
		If your pets die of illness or disaster, you can't eat them. If you die, well...that's just a thing you'll have to find out about. It's best not to let that happen, right?
	</p>
	<br><br>
	<p id="tips">
	<b><u>TIPS</u></b><br><br>
		<ul>
			<li>Sticks and Mushrooms may seem like useless or risky items, but they can be useful to distract monkeys. While foraging, they will sometimes steal a random item!</li>
			<li>Use your items quickly after foraging to avoid disasters or having something valuable stolen. Keep only what you need!</li>
			<li>If you are starving, but don't want to risk the danger of foraging, consider eating a pet. Always keep a disposable one on hand.</li>
			<li>Secret pets are cool and super strong! If you want to catch one, make sure to keep 3 or fewer pets. You cannot have more than 4.</li>
		</ul>
	</p>

</body>
</html>