 <!DOCTYPE html>
 <html>
  <head>
    <title>EpizoPets</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <h1>Welcome to EpizoPets!</h1>
    <p>You and your beloved animal friends must survive in the woods. What will you eat? How long will you last?</p>
    <br><br>
	<div class="formdiv">
		<form action="/login" method="POST">
		  {% csrf_token %}
		  Username: <input type="text" name="username"><br><br>
		  Password: <input type="password" name="password"><br><br>
		  <input type="submit" value="Login">
		</form>
	</div>
		<br>
	<div class="formdiv">
		<form action="/register" method="POST">
		  {% csrf_token %}
		  Username: <input type="text" name="username"><br><br>
		  Password: <input type="password" name="password"><br><br>
		  Confirm Password: <input type="password" name="confirmpassword"><br><br>
		  Email: <input type="text" name="email"><br><br>
		  Birthdate: <input type="date" name="birthdate"><br><br>
		  <input type="submit" value="Register">
		<form>
	</div>
    <br><br>
	<span id="trouble">Trouble logging in? Forgot your password? <a href="mailto:vincentsnow@gmx.com">Click here</a> to email us from the email associated with your account or tell us about a bug.</span>
	<br><br>
        {% if messages %}
			{% for message in messages %}
        <span {% if message.error %} class="messagerror" {% elif message.success %} class="messagesuccess"{% endif %}>{{ message }}</span><br>
			{% endfor %}
        {% endif %}

  </body>
 </html>
