<!DOCTYPE html>
<html>
<head>
	<title>EpizoPets - You found a secret pet!</title>
	{% load static %}
   <link rel="stylesheet" href="{% static 'style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<h3>You found a secret pet whilst foraging in the woods!</h3><br><br>
	
	{% if secretpet == "peggy" %}
		<img height="10%" class="secretimg" src="{% static 'images/peggy.jpg' %}" media="screen"><br><br>
		A majestic <i>peggy</i> descends from the sky and lands on it's elegant hooves right in front of you!
	{% elif secretpet == "draggy" %}
		<img height="10%" class="secretimg" src="{% static 'images/draggy.jpg' %}" media="screen"><br><br>
		A ferocious <i>draggy</i> roars menacingly at you! Terrifying...but could he be a valuable ally?
	{% endif %}
	
	<br><br>
	Do you want to try to catch and take this {{secretpet}} with you?<br><br>
	
	<form class="button" action="/catchsecret" method="POST">
   {% csrf_token %}
	<input type="hidden" value={{secretpet}} name="secretpet">
	<input type="submit" value="Yes! Try to befriend it."><br>
	I'll call it...<input type="text" name="name">
   </form>
   <br>
   <form class="button" action="/dashboard" method="POST">
   {% csrf_token %}
	<input type="submit" value="No, leave it alone.">
   </form>
   <br><br>
	

</body>
</html>